@import "./colors";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

.dark-grey {
    color: #5A6069;
}
.white {
    color: white;
}

.flex {
    display: flex;
}
.center {
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
}

.container {
    height: 100vh;
}
.clickable {
    cursor: pointer;
}
header {
    background-color: black;
    width: 100%;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    section {
        display: flex;
        align-items: center;
    }
    .logo-border {
        border-right: 1px solid white;
    }
    .icon {
        padding: 1rem;
    }
    button {
        border: none;
        outline: none;
        background-color: #E46643;
        color: white;
        padding: .5rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        border-radius: 5px;
    }
  
}
.editor-space {
    display: flex;
    width: 100%;
    height: 90vh;
    .part {
        width: 50%;
        textarea {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            padding: 1rem;
        }
    }
    .header-editor {
        padding: 1rem;
        background-color: #F5F5F5;
        display: flex;
        justify-content: space-between;
    }
    .markdown {
        border-right: 1px black solid;
    }
}